@import '../variables.scss';
@import '../mixins.scss';

section{
  @include flexCenter;
  color: $gray-500;
  justify-content: space-around;
  height: 90vh;
  width: 100vw;

  .gradienteText {
    font-weight: 800;
    background: linear-gradient(to right,$pink-700, $pink-900);
    -webkit-background-clip: text;
    color: transparent;
    text-fill-color: transparent;
    padding-bottom: 20px;

  }
  
  .gif{
    width: 20rem;
    img{
      width: 20rem;
    }
  }

  .personalInfo{
    max-width: 35rem;
    border-radius: 10px;
    padding: 5px;

    p{
      margin-bottom: 15px;
    }

    span{
      font-size: 30px;
      font-weight: 700;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    .gif{
      img{
        display: none;
      }
    }
    
    .personalInfo{
      h1{
        font-size: 25px; 
      } 
    }
  }
}