@import '../variables.scss';
@import '../mixins.scss';

.container{
  @include flexCenter;
  flex-direction: column;
  justify-content: center;
  background-color: $white-100;
  border: 2px solid $white-100;
  width: 120px;
  height: 110px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  
  &:hover {
    border: 2px solid $pink-500;
    transform: scale(1.05);
  }
  
}