@import '../variables.scss';
@import '../mixins.scss';

.container{
  display: flex;
  justify-content: center;   
}

.content{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}