@import './scss/variables.scss';

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: $font-main;
  background: linear-gradient(to bottom , $white-200,  $pink-300);
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  transition: color 0.5s ease;
  color: $white-100;
}