$pink-300: #fed6e0c2;
$pink-500: #FFC3D1;
$pink-700: #CF649A;
$pink-900: #dd71b58a;
$pink-1000: #BF4080;

$white-100: #FFFFFF;
$white-200: #F9F9F9;
$green-200: #669999;
$gray-200: #E0E0E0;
$gray-500: #6B717F;
$blue-300: #003366;

$dark-theme: true;
$light-theme: false;

$font-main: 'Narnoor', serif;


